html, body, .container, .container-fluid {
    padding:0px;
}
input {
    border-radius: 50px;
    border: none;
    padding: 4px 6px;
}
form {
    padding: 6%;
}
.navbar-text{
    font-size: 15px;
}
