{% extends 'App_MakeDonationPage_base.html' %}

{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<br>

<div class="container" style="width: 100%;">
   <div style="float:left; width: 50%;background-color:#003366; color:white;margin:5px;padding:5px">
	<br>
	<br>
		<center><h1><a style="font-family:courier;font-size:50px;margin:10px">Make Donation</a></h1></center>
		<div class = 'col-lg-' style = "text-align:center">
			<form method="POST" class="post-form" style="font-size:15px">{% csrf_token %}
			{% for field in form.visible_fields %}
				<div class = "input-group mb-1" style="float:right; padding: 5px;margin: 5px;">
				<label class ="mt-3" for="{{ field.name }}">{{ field.label }} : </label>
				</div>
				{{ field }}
			{% endfor %}
			<br>
			<button type="submit" class="save btn btn-default" style="text-align:center; padding: 2px;margin: 2px;">Donate!</button>
			</form>
		</div>
   </div>
   <center><h1><a style="font-family:courier;font-size:50px;margin:10px">Donators (6 recent)</a></h1></center>
	
    {% for field in table %}
        <div style="float:right; width: 15.4%;background-color:#003366; color:white;margin:5px;padding:5px">
			    <p>{{ field.donator }}</p>
                <p>Rp{{ field.amount }}</p>
            </div>
            {% endfor %}
        <div style="float:right; width: 48%;background-color:#003366; color:white;margin:5px;padding:5px">
		    <h4>Total dana terkumpul : </h4><p> Rp{{ jumlah }} dari Rp{{ program.amount }}</p>
	    </div>
</div>
<div style="clear:both"><br></div>


{% endblock %}