{% extends 'App_ProgramPage_base.html' %}
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class="container mt-5">
    {% for data in table %}
        <div class="mt-3 ml-3 mr-5 bg-program">
            <div class="row">
                <div class="col-md-9">
                    <div class="row ml-2 m-1">
                        <h1 class="text-red">{{ data.title }}</h1>
                    </div>
                    <div class="row ml-5 m-1">
                        <p class="text-white">{{ data.content }}</p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="row mt-1">
                        <h6 class="col-md text-white">Organizer :</h6>
                    </div>
                    <div class="row m-1">
                        <p class="text-white">{{ data.organizer }}</p>
                    </div>
                    <div class="row m-1">
                        <p class="text-white"><b>Category : </b>{{ data.category }}</p>
                    </div>
                    <div class="row m-1">
                        <p class="text-white"><b>Needed : </b>{{ data.amount }}</p>
                    </div>
                    
                    {% if user.is_authenticated %}
                        <div class="row m-1">
                            <button class="col-md btn btn-danger pl-5 pr-5 mr-3" onclick=location.href="/make-donation/{{data.id}}">DONATE</button> 
                        </div>
                    {% endif %}
           
                </div>
            </div>
        </div>
    {% endfor %}
    
</div>

{% endblock %}