{% extends 'App_RegisterPage_base.html' %}


{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <div class="container">
  <div class="r">
      <div class="a">
        <h1>Register</h1>
        <div class="gambar">
          <img src="http://www.studiocaracol.it/assets/images/riabilitazione-5184x3456.jpg">
        </div>
        <h1 class='text'>"You have not lived today until you have done<br> something 
          for someone who can never repay you."</h1>
        <p><b>-John Bunyan</b></p>
      </div>
     
      <div class="register-box">
        <p id="ancol">Register</p>
          <form method="post" id="ancol1">
            {% csrf_token %}
            {% for field in form %}
                <div class="c">
                  <div class="x">
                    {{ field.label_tag }}
                  </div>
                  <div class="b" id='ancol2'>
                    {{ field }}
                  </div> 
                </div>
                {% for error in field.errors %}
                  <p style="color: red;">{{ error }}</p>
                {% endfor %}
            {% endfor %}
            <button class="btn btn-success m-2 float-right mb-3" type="submit">Register</button>
          </form>
          <div class = 'log'>
            
            {% if user.is_authenticated  %}
              <a href="/logout" style='color : white;'>logout</a>
            {% else %}
              <a href="{% url 'social:begin' 'google-oauth2' %}" style = 'color : white;' >Login with Google</a>
            {% endif %}
          </div>

      </div>
     
  </div>
  <div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
    <strong>Perhatian!</strong> Silahkan Login terlebiuh dahulu menggunakan Google Account
  </div>
  
    

</div>

{% endblock %}