<nav class="navbar sticky-top navbar-expand-lg navbar navbar-dark" id="navbar" style="background-color: #0FAFD2;">
    <a class="navbar-text" style="color : white" >Sinar Perak</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto navbar-right " style="color:white">
            <li class="nav-item">
                <a class="nav-link" href="/news/">News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/programs/">Program</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register/">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">About Us</a>
            </li>
        </ul>
    </div>
</nav>
