{% extends 'App_NewsPage_base.html' %}

{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class="row">
    <div class="col-lg-9">
    {% for News in news %}
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-4">
                <img class="news_image" src="{{News.image}}" alt="{{News.title}}">
            </div>
            <div class = "col-md-8">
                <div class="row mt-1">
                    <div class="col-md-9">
                        <h1>{{News.title}}</h1>
                    </div>
                    <div class="col-md-3 text-right">
                        <button class="btn btn-danger pl-3 pr-3 mr-3"  onclick=location.href="/programs/{{News.id}}">Programs</button>
                    </div>
                </div>
                <div class="row">  
                    <p>{{News.news}}</p>
                </div>

            </div>
        </div>
    </div>
    {% endfor %}
    </div>
    <div class="col-lg-3">
        
    {% if user.is_authenticated %}
        <h4>Anda sudah mendonasikan total: {{total}}</h4>
        <h3>Daftar Donasi Anda : </h3>    
        {% for donasi in donations %}
            <div class="row">
                <div class="col-md-3">
                    <p>{{donasi.foreign_program.title}}</p>
                </div>
                <div class="col-md-9">
                    <p>{{donasi.amount}}</p>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    </div>
</div>
{% endblock %}