.register-box{
	background-color: #035685;
	margin:1vw;
	width: 25%;
}
.gambar{
	width: 400px;
}
.gambar img {
	max-width: 100%;
	max-height: 100%;
}

#ancol{
	color: white;
	text-align: center;
	margin-top: 30px;
	font-size: 40px;
	
}
#ancol1{
	color : white;
}
#ancol2{
	color: grey;
}
.text{
	padding-top: 10px;
	font-size: 25px;
}
.r{
	display: flex;
	width : 100%;
}
.log{
	display: flex;
	left : 50%;
	color : white; 
}
#outh{
	color : white;
}
.alert {
	padding: 20px;
	background-color: #f44336;
	color: white;
  }
  
  .closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
  }
  
  .closebtn:hover {
	color: black;
  }
@media only screen and (max-width: 900px) {
    .text{
		font-size: 20px;
	}
	.gambar{
		width: 300px;
	}
	.register-box{
		background-color: #035685;
		margin:1vw;
		width: 35%;
	}

}
@media only screen and (max-width: 375px) {
	.r{
		flex-direction: column;
	}
	.register-box{
		width: 70%;
	}
}
@media only screen and (max-width: 414px) {
	.r{
		flex-direction: column;
	}
	.register-box{
		width: 70%;
	}
}
@media only screen and (max-width: 600px) {
	.r{
		flex-direction: column;
	}
	.register-box{
		width: 70%;
	}
}
@media only screen and (max-width: 320px) {
	.r{
		flex-direction: column;
	}
	.register-box{
		width: 70%;
	}
	.gambar{
		width: 250px;
	}
}
@media only screen and (max-width: 700px) {
	.r{
		flex-direction: column;
	}
	.register-box{
		width: 70%;
	}
}