.info{
    font-size: 2vw;
}

.motto{
    font-size: 4vw;
    padding-top: 50px;
}
#full{
    
}


.item img {
    max-width: 100%;
    object-fit: cover;
}
#desc{
    padding-top: 20px;
    font-size: 2vw;;
}
#Regis_now{
    margin-top: 20px;
}