{% extends 'App_Index_base.html' %}

{% block content %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="container content">
  {% if user.is_authenticated %}
    <p class="display-4">Hello, {{ user.username }}</p>
  {% endif %}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
          

            <div class="carousel-inner" id="gambar">
              <div class="item active">
                <img src="https://i.imgur.com/IJDCJPa.png" alt="Title Image 1" >
              </div>
          
              <div class="item">
                <img src="https://imgur.com/Pmk8iV7.png" alt="Title Image 2" height="30px">
              </div>
          
              <div class="item">
                <img src="https://imgur.com/pYwRBYW.png" alt="Title Image 3">
              </div>
            </div>
          

            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
    <div class="row" id="row-2">
        <div class="col-sm-6 info">
            <p id="desc">Sinar Perak is a Crowd Funding Platform designed
                for helping people gathering fund they need. We were
                 established on October 2018 with a simple motto: 
            </p>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <h3 class="motto">"Better things born along with better kindness"</h3>
            </div>
            {% if not user.is_authenticated %}
              <div class="row">
                  <button class="btn btn-info pl-5 pr-5 mr-3 align-self-end pull-right" onclick=location.href="/register/" id="Regis_now">Register Now!</button>  
              </div>
            {% endif %}
        </div>
    </div>

    <div id="comment-container">
      {% for testimony in testimonies %}
            <div class="row">
                <div class="col-lg-2">
                    <p>{{testimony.testi_name}}</p>
                </div>
                <div class="col-lg-10">
                    <p>{{testimony.testi_message}}</p>
                </div>
            </div>
    {% endfor%}
    </div>
    {% if user.is_authenticated %}
      <form id="form" method="POST" action="{% url 'add_testimoni' %}">
        {% csrf_token %}
        {{ form }}
        <button id="submit_button" type="submit", class = 'btn btn-default'>Submit</button>
      </form>
    {% endif %}
</div>

{% endblock %}
